.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background: #000000a3;
    width: 100%;
    padding: 7px 15px;
    z-index: 9;
}
.netFlixHeaderLogo {
    height: 50px;
}
.headerWrapper button {
    background: #edaf1c;
    color: #fff;
    padding: 2px 15px;
    border-radius: 4px;
    font-size: 18px;
}
.headerProfileInfo {
    display: flex;
    column-gap: 10px;
}
.headerProfileInfo {
    color:#fff;
}
.headerProfileInfo span{
    font-weight: 600;
}